.header {
    width: 100%;
    background-color: #533A71;
    text-align: center;
    height: 75px;
    margin-top: -21px;
  }

  header > h1 {
    padding-top: 10px;
  }

  body {
    background-color: #247BA0;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding-top: 10px;
  }
  
  h4 {
    text-align: center;
  }
  
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    width: 700px;
    height: 400px;
  }

  #img-div {
    padding: 30px 45px 30px 45px;
    border: 25px solid #FFDF00
  }

 figure {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 figcaption {
    font-size: 10px;
 }

  ul {    
    width: 700px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #tribute-link {    
    text-align: center;
  }

  a {
    color: black;
  }

  a:hover {
    color: white;
  }